In [1]:
import pandas as pd
import json

In [2]:
labeled_nodes = pd.read_csv('data/networks/communities_nodes.csv')
labeled_nodes.shape

(1548, 6)

In [3]:
labeled_nodes.sample(5)

                   Id  Label  indegree  outdegree  Degree  modularity_class
1349  willians_caires    NaN         0          1       1                 1
1073  EduardoJosAlve9    NaN         0          2       2                 1
63          Neg_POETA    NaN         3          0       3                 0
1276      murillomtzz    NaN         0          2       2                 1
252       CValgueredo    NaN         0          4       4                 0

In [4]:
selected_users = labeled_nodes['Id'].tolist()

In [5]:
data_path = 'data/tweets/'

lula_df = pd.read_csv(data_path+'2022-11-22-O LULA T√Å ELEITO.csv', index_col=0)
bols_df = pd.read_csv(data_path+'2022-11-22-#BolsonaroReeleito.csv', index_col=0)

print(f'''
O LULA TA ELEITO dataset size: {lula_df.shape[0]}
#BolosonaroReeleito dataset size: {bols_df.shape[0]}
''')

O LULA TA ELEITO dataset size: 13561
#BolosonaroReeleito dataset size: 37569

In [6]:
merged_df = pd.concat([lula_df, bols_df])
merged_df.drop_duplicates(inplace=True)
merged_df.shape

(50843, 14)

In [7]:
# selected_tweets = dict()

# for idx, row in merged_df.iterrows():
#     if row['user'] in selected_users:
#         selected_tweets[row['user']] = merged_df[merged_df['user']==row['user']]['tweet_content'].tolist()

In [8]:
selected_tweets = dict()

for user in selected_users:
    selected_tweets[user] = merged_df[merged_df['user']==user]['tweet_content'].tolist()

In [9]:
len(selected_tweets.keys())

1548

In [10]:
user_comm_map = dict()

for user in labeled_nodes[['Id','modularity_class']].values.tolist():
    user_comm_map[user[0]] = user[1]

In [13]:
final_data = {
    'selected_users_tweets': selected_tweets,
    'user_comm_mapping': user_comm_map
}

In [18]:
with open('data/tweets/final_data.json', 'w') as f:
    json.dump(final_data, f)